<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css"href="./public/styles/index.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <div class="btn-group pull-right">
                            <a id="toggle-btn"type="button" class="btn btn-default btn-xs"
                             data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>

                    <div class="collapse"id="collapseOne">
                      <div class="input-group">
                      <input type="text" id="input-name" class="form-control input-sm"
                      name="Name" value="Anonymous"placeholder="Change your username...">
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-sm" id="btn-chat"onclick="ChangeName()">Change</button>
                      </span>
                      </div>
                    </div>

                <div class="panel-collapse ">
                    <div class="panel-body">
                        <ul class="chat"id="chat-list"style="list-style:none;padding-bottom:10%">
                            <li class="left clearfix"hidden="true"id="You"style="padding-right:10%;margin-bottom:2%">
                                <div class="chat-body clearfix pull-left"style="border:solid cornflowerblue 2px;
                                      border-radius:15%;border-top-left-radius: 0;padding:2%;">
                                    <div class="header">
                                      <span class="chat-img pull-left">
                                          <img src="http://placehold.it/50/55C1E7/fff&text=U"
                                          alt="User Avatar" class="img-circle" />
                                      </span>
                                        <strong class="primary-font"id="sender">Jack Sparrow</strong>
                                    </div>
                                    <p class="">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                    <small class="text-muted pull-right">
                                      <span class="glyphicon glyphicon-time"></span></small>
                                </div>
                            </li>
                            <li class="right clearfix"hidden="true"id="Me"style="padding-left:10%;margin-bottom:2%">
                                <div class="chat-body clearfix pull-right"
                                    style="width: auto;display: inline-block;border:solid dodgerblue 2px;
                                    border-radius:15%;border-top-right-radius: 0;padding:2%;">
                                    <div class="header">
                                      <span class="chat-img pull-right">
                                          <img src="http://placehold.it/50/FA6F57/fff&text=ME"
                                          alt="User Avatar" class="img-circle" />
                                      </span>
                                        <strong class="pull-right primary-font"id="uname"></strong><br>
                                    </div>
                                    <p class="">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                    <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span></small>
                                </div>
                            </li>

                            <li class="text-center"id="New_Joined"hidden="true"style="padding:0%;margin-bottom:2%">
                              <p class="text-center"style="background-color:dodgerblue;padding: 1.5%;
                                border-radius: 10%;width: auto;display: inline-block;color:white">
                              </p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm"
                            placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat"onclick="SendMsg()">Send</button>
                            </span>
                        </div>
                    </div>
                </div><!-- End Div panel-collapse-->
              </div><!-- End Div panel-primary-->
            </div><!-- End Div col-md-12-->
        </div><!-- End Div row-->
    </div><!-- End Div container-->

  </body>
</html>

    <!-- Socket io -->
    <script src="/socket.io/socket.io.js"></script>

    <script>

    var msg = document.getElementById("btn-input");
    msg.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
            SendMsg();
        }
    });

    var socket=io()
    var name=$('#input-name').val();

    function SendMsg(){
      socket.emit('new_msg',{
        message:$('#btn-input').val(),
        username:name,
        time:new Date()
    })
      localMsgPush();
    }

    function ChangeName(){
      console.log($('#input-name').val());
      name=$('#input-name').val()
      socket.emit('change_name',{
        username:$('#input-name').val()
      })
      $('#toggle-btn').click();
    }
    function localMsgPush(){
      var ul = document.getElementById("chat-list");
      var cloone=$('#chat-list').find('#Me').clone(true);
      cloone.find('p').html($('#btn-input').val()+'</br>');
      cloone.find('.glyphicon-time').html(' '+(new Date()).toLocaleTimeString());
      cloone.find('#uname').html(name);
      cloone.removeAttr('hidden');
      cloone.appendTo('#chat-list');
      console.log(cloone);
      $('#btn-input').val('');

    }
    socket.on('new_msg_all',(data)=>{
      console.log(data);
      var ul = document.getElementById("chat-list");
      var cloone=$('#chat-list').find('#You').clone(true);
      cloone.find('p').html(data.message+'</br>');
      cloone.find('#sender').html(data.username);
      cloone.find('.glyphicon-time').html(' '+(new Date()).toLocaleTimeString());
      cloone.removeAttr('hidden');
      cloone.appendTo('#chat-list');
      console.log(cloone);
    })

    socket.on('joined_room',(data)=>{
      var ul = document.getElementById("chat-list");
      var cloone=$('#chat-list').find('#New_Joined').clone(true);
      cloone.find('p').html(data.name);
      cloone.removeAttr('hidden');
      cloone.appendTo('#chat-list');
      console.log(cloone);
    })
    </script>
